<div class="row mb-3">
	<div class="col">
		<h2>Add a New Game</h2>
	</div>
</div>

<form [formGroup]="form" (ngSubmit)="addGame()">
	<div class="mb-3">
		<label for="name">Name: </label> 
		<input id="name" class="form-control" type="text" size="30" placeholder="Boardgame's name" 
				required formControlName="name">
	</div>
	<div class="mb-3">
		<label for="year">Year: </label> 
		<input id="year" class="form-control" type="text" size="6" placeholder="Year" 
				required formControlName="year">
	</div>
	<div class="mb-3"> 
		<label for="ranking">Ranking: </label> 
		<input id="ranking" class="form-control" type="number" min="-1" placeholder="Game's ranking"
				formControlName="ranking">
	</div>
	<div class="md-3">
		<label for="users_rated">Users Rated: </label> 
		<input id="users_rated" class="form-control" type="number" min="0" placeholder="User's rated"
			formControlName="usersRated">
	</div>
	<div class="mb-3">
		<label for="url">URL: </label> 
		<input id="url" class="form-control" type="string" size="50" placeholder="Game's URL" 
			required formControlName="url">
	</div>
	<div class="row mb-3">
		<div class="col-8">
			<label for="image">Image: </label> 
			<input id="url" class="form-control" type="string" size="50" placeholder="Game's image" 
					formControlName="image">
		</div>
		<div class="col-4">
			<img src="../assets/placeholder.png" class="img-thumbnail" *ngIf="!form.value.image">
			<img [src]="form.value.image" class="img-thumbnail" *ngIf="!!form.value.image">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col d-flex justify-content-end">
			<button type="submit" class="btn btn-success" [disabled]="form.invalid"> 
				<i class="fas fa-plus"></i>
				<span> Add </span>
			</button>
		</div>
	</div>
</form>
